*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

body {
  height: 100%;
  font: 1rem Helvetica;
  color: #000;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1400px;

  @media (min-width: 768px) {
    padding: 0 2em;
  }
}

.overflow {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

p {
  line-height: 150%;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}










.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 1000;

  &__nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__img {
    line-height: 0;
    padding: .5em;
    z-index: 2000;

    img {
      width: 9em;
    }
  }

  .hamburger {
    z-index: 2000;

    @media (min-width: 730px) {
      display: none;
    }
  }

  &__list {
    &:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      inset: 0;
      height: 100vh;
      background-color: #fff;
      z-index: 1000;

      a {
        font-size: 3rem;
        padding: 1em 2em;
        color: #000;
        transition: color .2s;
      }
    }

    &:last-of-type {
      display: none;
      // 576px

      @media (min-width: 730px) {
        display: block;

        a {
          font-size: 2rem;
          padding: .5em 1.2em;
          color: #000;
          border-bottom: 2px solid transparent;
          transition: color .2s, border-bottom-color .2s;
        }
      }
    }

    a:hover {
      border-bottom-color: #00ff04;
      color: #00ff04;
    }
  }

}








/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}